In [13]:

import numpy as np 
import pandas as pd

# Defining the three dataframes indicating the gold, silver, and bronze medal counts
# of different countries
gold = pd.DataFrame({'Country': ['USA', 'France', 'Russia'],
                         'Medals': [15, 13, 9]}
                    )
silver = pd.DataFrame({'Country': ['USA', 'Germany', 'Russia'],
                        'Medals': [29, 20, 16]}
                    )
bronze = pd.DataFrame({'Country': ['France', 'USA', 'UK'],
                        'Medals': [40, 28, 27]}
                    )
df_1 = pd.concat([gold,silver,bronze],axis = 0)
df_2 = df_1.groupby(['Country']).sum()
df_2.sort_values("Medals",ascending=False)

         Medals
Country
USA          72
France       53
UK           27
Russia       25
Germany      20

In [60]:
### Read the input
n = int(input())

# Import the NumPy package
import numpy as np 

a1=np.zeros(n*n,dtype=int).reshape(n,n)
# a2=(a1[1]=1 and a1[:1]=1)

mid_i=int((n+1)/2)-1

a1[0:,mid_i]=1
a1[mid_i,:]=1

# a1[0][1]=1
# a1[2][1]=1
a1

# print((n+1)/2)

5

array([[0, 0, 1, 0, 0],
       [0, 0, 1, 0, 0],
       [1, 1, 1, 1, 1],
       [0, 0, 1, 0, 0],
       [0, 0, 1, 0, 0]])